{% extends 'base.html.twig' %}

{% block title %}Trailer{% endblock %}

{% block body %}
    <h1>Trailer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trailer.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ trailer.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_trailer_index') }}">back to list</a>

    <a href="{{ path('app_trailer_edit', {'id': trailer.id}) }}">edit</a>

    {{ include('trailer/_delete_form.html.twig') }}


    
{% endblock %}
